apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: dq-acl-data-ingest
spec:
  replicas: 1
  revisionHistoryLimit: 3
  template:
    metadata:
      labels:
        name: dq-acl-data-ingest
    spec:
      securityContext:
        fsGroup: 1000
      volumes:
      - name: acl-volume
        persistentVolumeClaim:
          claimName: acl-volume
      containers:

      - name: dq-acl-data-ingest
        image: quay.io/ukhomeofficedigital/dq-acl-sftp-python:{{.DRONE_COMMIT_SHA}}
        imagePullPolicy: Always
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
        resources:
          limits:
            cpu: {{.ACL_CPU_LIMIT}}
            memory: {{.ACL_RAM_LIMIT}}
          requests:
            cpu: {{.ACL_CPU_REQUEST}}
            memory: {{.ACL_RAM_REQUEST}}
        env:
          - name: ACL_SERVER
            valueFrom:
              secretKeyRef:
                name: dq-acl-data-ingest
                key: ACL_SERVER
          - name: ACL_USERNAME
            valueFrom:
              secretKeyRef:
                name: dq-acl-data-ingest
                key: ACL_USERNAME
          - name: ACL_PASSWORD
            valueFrom:
              secretKeyRef:
                name: dq-acl-data-ingest
                key: ACL_PASSWORD
          - name: ACL_LANDING_DIR
            valueFrom:
              secretKeyRef:
                name: dq-acl-data-ingest
                key: ACL_LANDING_DIR
          - name: S3_BUCKET_NAME
            valueFrom:
              secretKeyRef:
                name: dq-acl-data-ingest
                key: S3_BUCKET_NAME
          - name: S3_KEY_PREFIX
            valueFrom:
              secretKeyRef:
                name: dq-acl-data-ingest
                key: S3_KEY_PREFIX
          - name: S3_ACCESS_KEY_ID
            valueFrom:
              secretKeyRef:
                name: dq-acl-data-ingest
                key: S3_ACCESS_KEY_ID
          - name: S3_SECRET_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: dq-acl-data-ingest
                key: S3_SECRET_ACCESS_KEY
          - name: SECONDARY_S3_BUCKET_NAME
            valueFrom:
              secretKeyRef:
                name: dq-acl-data-ingest
                key: SECONDARY_S3_BUCKET_NAME
          - name: SECONDARY_S3_ACCESS_KEY_ID
            valueFrom:
              secretKeyRef:
                name: dq-acl-data-ingest
                key: SECONDARY_S3_ACCESS_KEY_ID
          - name: SECONDARY_S3_SECRET_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: dq-acl-data-ingest
                key: SECONDARY_S3_SECRET_ACCESS_KEY
          - name: ACL_RDS_HOST
            valueFrom:
              secretKeyRef:
                name: dq-acl-data-ingest
                key: ACL_RDS_HOST
          - name: ACL_RDS_DATABASE
            valueFrom:
              secretKeyRef:
                name: dq-acl-data-ingest
                key: ACL_RDS_DATABASE
          - name: ACL_RDS_USERNAME
            valueFrom:
              secretKeyRef:
                name: dq-acl-data-ingest
                key: ACL_RDS_USERNAME
          - name: ACL_RDS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: dq-acl-data-ingest
                key: ACL_RDS_PASSWORD
          - name: ACL_RDS_TABLE
            valueFrom:
              secretKeyRef:
                name: dq-acl-data-ingest
                key: ACL_RDS_TABLE
          - name: CLAMAV_URL
            value: "127.0.0.1"
          - name: CLAMAV_PORT
            value: "8080"
        volumeMounts:
        - name: acl-volume
          mountPath: /ADT

      - name: clamav-api
        image: quay.io/ukhomeofficedigital/clamav-rest
        imagePullPolicy: Always
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
        resources:
          limits:
            cpu: {{.CLAMAV_CPU_LIMIT}}
            memory: {{.CLAMAV_RAM_LIMIT}}
          requests:
            cpu: {{.CLAMAV_CPU_REQUEST}}
            memory: {{.CLAMAV_RAM_REQUEST}}
        env:
        - name: HOST
          value: localhost
        - name: PORT
          value: '3310'
        ports:
        - containerPort: 8080
          name: api
          protocol: TCP
        livenessProbe:
          exec:
            command:
            - /var/clamav-rest/healthcheck.sh
          initialDelaySeconds: 60
          timeoutSeconds: 10
          periodSeconds: 30
          failureThreshold: 10

      - name: clamav
        image: quay.io/ukhomeofficedigital/clamav
        imagePullPolicy: Always
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
        resources:
          limits:
            cpu: {{.CLAMAV_CPU_LIMIT}}
            memory: {{.CLAMAV_RAM_LIMIT}}
          requests:
            cpu: {{.CLAMAV_CPU_REQUEST}}
            memory: {{.CLAMAV_RAM_REQUEST}}
        ports:
        - containerPort: 3310
          name: api
          protocol: TCP
        livenessProbe:
          exec:
            command:
            - /readyness.sh
          initialDelaySeconds: 90
          timeoutSeconds: 10
          periodSeconds: 30
          failureThreshold: 10
